<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body onload="document.f.username.focus();">
<h2>Login with Username and Password</h2>
<form name="form" th:action="@{/login}" action="/login" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" value="" placeholder="Username"/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Password"/>
    <input type="submit" id="login" value="Login" class="btn btn-primary"/>
</form>
</body>
</html>